<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Projects</title>
        <meta name="description" content="A gallery view of my personal projects">
        <meta name="keywords" content="HTML, CSS, Django, personal projects">
    </head>
    <body>
        <h1>Projects</h1>
        <ul>
            {% for project in myprojects %}
                <li>{{ project.projectName }}</li>
                <li>{{ project.projectDescription }}</li>
                <li>{{ project.projectDate }}</li>
            {% endfor %}
        </ul>
    </body>
</html>
